body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}

#container h1 {
    padding: 0;
    font-size: 20px;
}

#cabecera {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#cabecera span {
    margin-left: 200px;
    font-weight: normal;

}

#post {
    padding: 1em;
}